<div class="bg-dark">
	<h1 class="text-white mx-1">Welcome to the Australian Powerboat Trader</h1>
	<p class="text-white mx-1">Your one-stop shop for powerboat sales and related equipment!</p>
	<%= cl_image_tag('https://res.cloudinary.com/sonny949/image/upload/c_crop,w_1600,x_0,y_272/v1652763368/6-litre-classic-race_kv5ne4.jpg', class: 'img-fluid', cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) %>
</div>

