<h1></h1>
<p></p>
<div class="card bg-dark text-white">
  <%= cl_image_tag('https://res.cloudinary.com/sonny949/image/upload/c_crop,w_1600,x_0,y_230/v1652763368/6-litre-classic-race_kv5ne4.jpg', class: 'card-img', cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) %>
  <div class="card-img-overlay">
    <h1 class="card-title">Welcome to the Australian Powerboat Trader</h1>
    <h4 class="card-text">Your one-stop shop for powerboat sales and related equipment!</h4>
  </div>
</div>

