<h1>Listing Purchased</h1>



<p>
  <%= @greeting %> <%= @user.name%>, Your Sales Lisiting "<%= @listing.title %>" has been purchased. If Shipping was made available, The shipping form can be found in your account page.
</p>
