<h1>Shipment Initiated</h1>

<p>
  <%= @greeting %>, <%= @user.name%> your recently purchased item has been shipped. Your shipment number is <%= @shipment.id %>. More information can be found in your account page.
</p>
