<h1>Payment Successful</h1>
<%# <% if %> 
<%= link_to "Back to listings", listings_path %>
<%# <% if listing.shipment? %> %>
  <%# <%= form_with(model: :shipment, data: {turbo: :false}) do |f| %>
 <%#  <%= f.select :shipment, options_for_select([['I will make arrangements with the seller with the seller', false], ['Yes I would like shipping for this item', true]], :prompt => "Select"), class: "form-control" %> %>
<%= link_to "Home", root_path %>