<h1>
Racing News
</h1>

<div><%= user_signed_in? && policy(Post).new? ? link_to('New Post', posts_new_path, class: "btn btn-primary") : "" %></div>

<% @posts.each do |post| %>
  <p><%= link_to post.title, post %> by <%= post.user.name %></p>
<% end %>


